footer.footer
  .footer__logo
    img(src='/img/logo-orange.png' alt='Natour logo')
  ul.footer__nav
    //- li: a(href='#') About us
    //- li: a(href='#') Download apps
    //- li: a(href='#') Become a guide
    li: a(href='mailto:jhbr08@hotmail.com') Contact
    li: a(href='https://www.linkedin.com/in/john-alejandro-agudelo-526389159/') LinkedIn
  p.footer__copyright &copy; by John Agudelo. 
  