header.header
    nav.nav.nav--recipes
        a.nav__el(href='/recipes') All recipes 
        a.nav__el(href='/recipes/add') Add recipe
    .header__logo
        a.nav__el(href='/')
            img(src='/img/logo.png' alt='Logo')
    nav.nav.nav--ingredients
        a.nav__el(href='/ingredients') All ingredients 
        a.nav__el(href='/ingredients/add') Add ingredient