extends base

block content
    main.main
         .title__container
            h1.home__title Welcome to EasyCount.com
            h3.home__description Create easily your own shopping list and plan your meals