extends base

block content
    main.main
        .card-container
            each ingredient in ingredients
                .card
                    .card__details
                        h3.btn.btn--green= ingredient.name
                    .card__footer
                        h4.card__sub-heading= `Calories: ${ingredient.calories}`
                        h4.card__sub-heading= `Measure: ${ingredient.measure}`
                        h4.card__sub-heading= `Individual: ${ingredient.soldIndividualy}`