extends base

block content
    main.main
        .recipe-view
            .recipe-view__content
                .recipe-view__form-container
                    h2.heading-secondary.ma-bt-md Add a new recipe
                    form.form.form-recipe-data
                        .form__group
                            label.form__label(for='name') Name
                            input#name.form__input(type='text', placeholder='Name of the recipe', required)
                        .form__group.ma-bt-md
                            label.form__label(for='description') Description
                            input#description.form__input(type='text', placeholder='Short description of what it is', required)
                        .form__group
                            label.form__label(for='steps') Steps 
                                span.card__footer-text (Separate using commas)
                            input#steps.form__input(type='text', placeholder='Steps of the recipe', required)
                        .form__group
                            label.form__label(for='link') Link
                            input#link.form__input(type='text', placeholder='Link to see the recipe', required)
                        .form__group
                            label.form__label(for='ingredient') Ingredients
                            table#table__ingredient
                                tr(style='min-width:100%')
                                    th.form__ingredient
                                        select#ingredient.form__input(required)
                                            option(value="") --Please choose an option--
                                            each ingredient in ingredients
                                                option(value=ingredient._id)= ingredient.name
                                    th 
                                        input#amount.form__input.form__amount(type='text', placeholder='Amount', required)
                            .one__more__btn
                                button#more__ingredients(type='button' value='testing').btn.btn--small.btn--green.one__more__btn +
                        .form__group.form__photo-upload
                            img.form__recipe-image(src='/img/defaultIngredient.jpg', alt='Recipe photo')
                            input.form__upload(type="file", accept='image/*', id='image', name='image')
                            label(for='image') Choose a new image
                        .form__group.right
                            button.btn.btn--small.btn--green Save data