header.header
    nav.nav.nav--recipes
        a.nav__el(href='/') All recipes 
    .header__logo
        img(src='img/logo-white.png' alt='Logo')
    nav.nav.nav--ingredients
        a.nav__el(href='/ingredients') All ingredients 